<h2>订单列表</h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>
    </tr>
  </thead>
  <tbody>
    <%= render :partial => "index_item", :collection => @orders, :as => :order %>
  </tbody>
</table>
