<div class="col-md-12">
  <%= link_to("新增商品", new_admin_product_path(@product), class: "btn btn-sm btn-primary pull-right") %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th width="220">商品图</th>
        <th>品名</th>
        <th>价格</th>
        <th class="100">管理选项</th>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "product_item", :collection => @products, :as => :product %>
    </tbody>
  </table>
</div>
